.post-comments {
  &__backdrop {
    @apply fixed inset-0 bg-body/50 z-video-comments
    w-full cursor-default;

    @screen md {
      @apply static min-h-[500px] m-auto mb-5;
    }
  }

  &__container {
    @apply grid fixed bottom-0 overflow-hidden
    bg-body transition rounded-t-lg w-full h-3/4
    border-t border-border;
    grid-template-areas:
    "title"
    "comments"
    "add-comment";
    grid-auto-rows: auto 1fr auto;

    @screen md {
      @apply static grid rounded-none border-0 h-full;
      grid-template-areas:
      "title"
      "add-comment"
      "comments";
      grid-auto-rows: auto auto 1fr;
    }
  }

  &__comments-title-bar {
    @apply flex items-center justify-between pt-2 pb-1
    border-b border-border px-4;
    grid-area: title;

    @screen md {
      @apply border-none p-0;
    }
  }

  &__comments-title {
    @apply flex text-base gap-x-4 items-center text-text font-bold;

    @screen md {
      @apply text-xl;
    }
  }

  &__comments-quantity {
    @apply text-brand-primary-light text-xs font-medium;

    @screen md {
      @apply text-base font-bold;
    }
  }

  &__comments-quantity-skeleton {
    @apply bg-text/20 h-3 w-2 animate-pulse;

    @screen md {
      @apply h-4 w-2;
    }
  }

  &__comments {
    @apply overflow-y-scroll scrollbar-hide pt-4 pb-4 px-5
    h-auto;
    grid-area: comments;

    @screen md {
      @apply px-0;
    }
  }

  &__add-comment {
    @apply border-b border-border px-4;

    @screen md {
      @apply border-none px-0;
    }
    grid-area: add-comment;
  }
}
