.effectContainer {
  @apply relative overflow-hidden;
  --effect-color: theme('colors.click-animation');

  &::before {
    @apply rounded-full absolute opacity-0 overflow-hidden
    h-[50px] w-[50px];
    content: "";
    top: var(--effect-top);
    left: var(--effect-left);
    background: var(--effect-color);
  }
}

.effectContainerActive {
  &::before {
    @apply animate-click-ripple;
  }
}

