.effectContainer {
  @apply relative overflow-hidden;
  --effect-color: theme('colors.base.500');
  --effect-color-dark: theme('colors.base.600');

  &::before {
    @apply rounded-full absolute opacity-0 overflow-hidden
    h-[50px] w-[50px] dark:bg-[var(--effect-color-dark)];
    content: "";
    top: var(--effect-top);
    left: var(--effect-left);
    background: var(--effect-color);
  }
}

.effectContainerActive {
  &::before {
    @apply animate-click-ripple;
  }
}

