.profile-header {
  &__container {
    @apply my-5 transition-colors cursor-default;
  }

  &__name-image-container {
    @apply flex gap-x-6 gap-y-2 items-center justify-start
    flex-wrap;
  }

  &__image {
    @apply place-self-center rounded-lg h-32 w-32 object-cover
    ring-4 ring-base-600;
  }

  &__avatar {
    @apply font-bold text-4xl h-32 w-32 ring-4 rounded-lg
    ring-base-600;
  }

  &__name {
    @apply flex flex-col text-left text-xl font-black break-words
    line-clamp-4;

    @screen md {
      @apply text-2xl;
    }
  }

  &__profileType {
    @apply flex gap-x-2 items-center font-normal
    text-brand-primary-bg;
  }

  &__subtitle {
    @apply text-base font-normal text-secondary-text;
  }
}
