.menu-side-bar {
  $parentBlock: &;

  &__container {
    @apply fixed hidden top-0 left-0 z-sidebar-menu font-normal border-base-700 border-opacity-30
      transition-all duration-1000 text-base-400;

    @screen lg {
      @apply flex flex-col border-r;
    }
  }

  &__aside-slide-out {
    @apply grid h-screen bg-body overflow-hidden w-16 transition-width duration-200;
    grid-template-areas:
      "logo"
      "menu-container"
      "footer"
      "copyright";
    grid-template-rows: auto 1fr auto auto;
  }

  &__logo-container {
    @apply border-b border-gray-600 border-opacity-30 px-14 py-1.5 opacity-0;
    grid-area: logo;
  }

  &__logo {
    @apply h-10 w-10;
  }

  &__menu-container {
    grid-area: menu-container;
  }

  &__menu-item {
    &:hover, &:focus {
      @apply bg-base-900 transition duration-500 text-base-100
      cursor-pointer;
    }

    &-active {
      @apply bg-base-700 text-base-100;
    }
  }

  &__menu-item-content {
    @apply flex flex-row py-3 gap-x-7 items-center truncate mx-4 px-1 border-base-700
      border-opacity-0 border-b;
  }

  &__menu-item-icon {
    @apply text-xl;
  }

  &__menu-item-text {
    @apply text-base;
  }

  &__footer-container {
    @apply flex flex-row gap-x-2 items-center px-8 py-3 border-opacity-0
      border-base-700 justify-center border-t flex-wrap;
    grid-area: footer;
  }

  &__footer-item {
    @apply text-transparent uppercase text-sm;
  }

  &__copyright-container {
    @apply border-base-700 border-t border-opacity-0 text-transparent font-light
      text-sm px-8 py-4;
    grid-area: copyright;
  }

  &__container:hover, &__container:focus {
    @apply border-opacity-100 transition-all duration-200 bg-base-800;

    #{$parentBlock}__aside-slide-out {
      @apply w-64 transition-all delay-1000 duration-100 bg-opacity-60;
    }

    #{$parentBlock}__menu-item-content {
      @apply border-opacity-20 transition-border duration-700 delay-700;
    }

    #{$parentBlock}__footer-container {
      @apply border-opacity-100 transition-all delay-1000 ;
    }

    #{$parentBlock}__footer-item {
      @apply text-base-500 transition-all delay-1000 ;
    }

    #{$parentBlock}__copyright-container {
      @apply border-opacity-100 text-base-600 transition-all delay-1000 duration-100;
    }

    #{$parentBlock}__logo-container {
      @apply opacity-100 transition-all delay-1000 duration-500;
    }
  }

  &__menu-item:hover, &__menu-item:focus {
    #{$parentBlock}__menu-item-icon {
      @apply scale-110 transition-transform duration-200;
    }
  }
}