# DATABASE
DATABASE_DATABASE=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_CLIENT=

# NEXT AUTH
NEXT_PUBLIC_SECRET=

# BASE URL
BASE_URL=http://localhost:3000

# DATABASE CONNECTION URL
DATABASE_URL=

# Email sender data
EMAIL_FROM_ADDRESS=

# Project brand name
EMAIL_BRAND_NAME=

# MailSender API Token
API_TOKEN=

# Environment
NEXT_PUBLIC_NODE_ENV=development

# GA4-ID
NEXT_PUBLIC_ANALYTICS_TRACKING_ID=

# Footer Adsterra Banner
NEXT_PUBLIC_FOOTER_ADSTERRA_BANNER_KEY=
NEXT_PUBLIC_FOOTER_ADSTERRA_BANNER_DOMAIN=

# Clickaine pop under URL
NEXT_PUBLIC_CLICKAINE_POPUNDER_URL=

# Cams URL
NEXT_PUBLIC_CAMS_AD_URL=

# Dating URL
NEXT_PUBLIC_DATING_AD_URL=

# Games URL
NEXT_PUBLIC_GAMES_AD_URL=