.post-card {
  $parentBlock: &;

  &__container {
    @apply relative mx-auto block overflow-hidden;
  }

  &__video-link {
    @apply z-50;
  }

  &__video-wrapper {
    @apply aspect-video overflow-hidden rounded-lg;
  }

  &__media {
    @apply h-full w-full object-cover;
  }

  &__video-data {
    @apply relative grid py-3 gap-y-2;
    grid-template-areas:
      "producer-logo producer-name video-options"
      "producer-logo extra-data extra-data";
    grid-template-columns: auto 1fr;
  }

  &__producer-logo {
    @apply rounded-full w-10 h-10 object-cover mr-4;
    grid-area: producer-logo;
  }

  &__producer-title {
    @apply flex flex-col text-base truncate text-sm;
    grid-area: producer-name;
  }

  &__video-title-link {
    @apply truncate text-base;
  }

  &__producer-name-link {
    @apply truncate text-xs;
  }

  &__extra-data {
    @apply flex flex-row gap-x-4 items-center font-normal text-gray-400 text-xs;
    grid-area: extra-data;
  }

  &__video-options {
    @apply hidden translate-x-full cursor-pointer text-gray-400 transition rounded-full h-10 w-10;
    grid-area: video-options;

    &:hover, &:focus {
      @apply bg-base-800 text-base-700 transition;
    }

    &:active {
      @apply bg-base-700 text-base-100 transition;
    }
  }

  &__options-icon {
    @apply text-xl;
  }

  &__interaction-section {
    @apply flex flex-row gap-x-1 items-center text-xs;
  }

  &__video-time {
    @apply z-10 absolute top-2 right-2 text-sm font-normal text-white;
  }

  &__container:hover, &__container:focus {
    #{$parentBlock}__video-time {
      @apply opacity-0 transition-all duration-1000;
    }

    #{$parentBlock}__video-options {
      @apply flex translate-x-0 items-center justify-center transition;
    }
  }
}