.post-card-carousel {
  &__container {
    @apply grid gap-x-4 overflow-x-scroll overflow-y-hidden scrollbar-hide;
    grid-template-columns:  repeat(var(--related-number), minmax(300px, 70vw));

    @screen md {
      grid-template-columns: repeat(var(--related-number), minmax(300px, 40vw));
    }

    @screen lg {
      grid-template-columns: repeat(var(--related-number), minmax(300px, 30vw));
    }
  }

  &__show-more-button {
    @apply flex items-center bg-brand-500 w-8 h-1/2 self-center rounded-lg cursor-pointer;
  }

  &__show-more-icon {
    @apply h-8 w-8 text-base-700;
  }
}