.user-menu {
  &__container {
    @apply flex flex-col gap-y-4 p-5 pt-2;
  }

  &__user-data {
    @apply flex flex-row gap-x-4 justify-center items-center
    -mb-6;

    @screen tb {
      @apply justify-start;
    }
  }

  &__user-image {
    @apply h-12 w-12 rounded-full object-cover;

    @screen md {
      @apply h-14 w-14;
    }
  }

  &__user-avatar {
    @apply h-12 w-12 font-semibold text-2xl;

    @screen md {
      @apply h-14 w-14;
    }
  }

  &__sign-out-button {
    @apply flex flex-row justify-center items-center gap-x-4 p-2
    rounded-lg transition-colors uppercase text-sm font-bold border
    border-red border-opacity-50 text-red;

    &:hover, &:focus {
      @apply border-opacity-50 transition-colors bg-red
      bg-opacity-50 text-text;
    }

    @screen md {
      @apply text-base;
    }
  }

  &__icon {
    @apply h-5 w-5;
  }

  &__menu-options-container {
    @apply -mx-5;
  }

  &__icon-option {
    @apply p-1 w-full h-full object-center object-contain;

    @screen md {
      @apply p-2;
    }

    @screen lg {
      @apply p-3;
    }
  }
}
