.user-profile-header {
  &__container {
    @apply flex flex-col items-center justify-center p-5
    gap-y-4;

    @screen md {
      @apply flex flex-row gap-x-10;
    }
  }

  &__user-info-container {
    @apply flex flex-col gap-y-2;
  }

  &__user-data {
    @apply flex flex-col gap-y-2 justify-center items-center
      text-lg font-medium;
  }

  &__user-info {
    @apply flex flex-col border border-border rounded-lg
    bg-surface;
  }

  &__user-info-item {
    @apply flex flex-row gap-x-3 justify-start items-center
    border-b px-5 py-2 border-border font-normal;

    &:last-child {
      @apply border-b-0;
    }
  }

  &__user-info-item-title {
    @apply flex flex-row font-normal text-sm
    text-secondary-text;
  }

  &__user-info-item-content {
    @apply text-sm font-light;
    &:first-letter {
      @apply uppercase;
    }
  }

  &__user-info-item-icon {
    @apply h-6 w-6 text-secondary-text;
  }

  &__user-activities {
    @apply flex flex-row gap-x-6 items-center justify-center;
  }

  &__activity-item {
    @apply flex flex-col items-center justify-center gap-y-1 font-black;
  }

  &__activity-item-activity {
    @apply font-light text-secondary-text;
  }

  &__user-avatar {
    @apply h-40 w-40 text-6xl font-bold;
  }

  &__user-avatar-image {
    @apply h-40 w-40 object-cover self-center rounded-full;
  }
}
