.gallery-header {
  &__container {
    @apply grid justify-between items-start gap-x-2;
    grid-template-areas:
      "title      sort"
      "subtitle   sort";
    grid-auto-rows: 1fr auto;
  }

  &__title {
    @apply flex flex-col text-base-100 gap-y-2 break-words
    font-black cursor-default text-2xl line-clamp-2 overflow-hidden;
    grid-area: title;
  }

  &__quantity {
    @apply normal-case text-xs font-light;
    grid-area: subtitle;

    @screen md {
      @apply font-semibold text-brand-300;
    }
  }

  &__quantity-skeeleton {
    @apply w-10 rounded-lg h-2.5 bg-base-700 mt-1
      animate-pulse;
    grid-area: subtitle;
  }

  &__sorting-element {
    grid-area: sort;
  }
}
