.carousel {
  &__container {
    @apply relative overflow-x-hidden overflow-y-visible -mx-5 py-1;
    @screen lg {
      @apply mx-0 pl-0;
    }
  }

  &__slider {
    @apply flex flex-row flex-nowrap items-start gap-x-2.5 p-1
    overflow-x-scroll scrollbar-hide px-5 scroll-smooth;

    @screen lg {
      @apply mx-0 pl-0;
    }
  }

  &__slider-item {
    @apply flex-initial flex-shrink-0 basis-5/6 h-full w-full
    overflow-visible;

    @screen tb {
      @apply basis-6/12;
    }

    @screen md {
      @apply basis-1/3;
    }

    @screen xl {
      @apply basis-1/4;
    }

    @screen 2xl {
      @apply basis-1/5;
    }

    &_auto {
      @apply basis-0;
    }
  }

  &__scroll-button {
    @apply hidden absolute m-auto h-10 w-10 rounded-lg shadow-all-sm
    shadow-base-950 bg-brand-primary-bg p-2 text-white
    cursor-pointer z-carousel-button transition-colors;

    @screen md {
      @apply block opacity-100 transition-all duration-200;

      &_active {
        @apply opacity-100 transition-all duration-200 backdrop-filter
        backdrop-blur-sm bg-opacity-5;
      }
    }
  }


  &__left-scroll-button {
    @apply top-0 bottom-0 left-5;

    &_hidden {
      @apply opacity-0 -translate-x-full transition-all duration-200 cursor-default;
    }
  }

  &__right-scroll-button {
    @apply top-0 bottom-0 right-5;

    &_hidden {
      @apply opacity-0 translate-x-full transition-all duration-200 cursor-default;
    }
  }

  &__carousel-icon {
    @apply mx-auto text-xl;
  }
}
