.paginated-post-card-gallery {
  &__container {
    @apply flex flex-col gap-y-2 w-full;
  }

  &__header {
    @apply flex justify-between items-end gap-x-4 mb-4;
  }

  &__title {
    @apply flex flex-col text-base-100 text-2xl
      uppercase font-black;

    @screen md {
      @apply flex flex-row items-center gap-x-3;
    }
  }

  &__separator-icon {
    @apply hidden;

    @screen md {
      @apply block text-xs text-base-500;
    }
  }

  &__videos-quantity {
    @apply normal-case text-xs font-thin;

    @screen md {
      @apply font-semibold text-brand-300;
    }
  }

  &__post-card-list-container {
    @apply grid gap-4 mb-2;
    grid-template-columns: repeat(1, 1fr);

    @screen sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @screen lg {
      grid-template-columns: repeat(3, 1fr);
    }

    @screen 2xl {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__post-card-container {
    @apply relative;
  }

  &__post-options {
    @apply hidden items-center justify-center z-post-card-video absolute
    top-1 left-1 rounded-full cursor-pointer h-9 w-9 transition-colors
    backdrop-filter backdrop-blur-2xl bg-transparent text-lg;

    &_visible {
      @apply flex;
    }

    &:hover {
      @apply bg-brand-400 transition-colors;
    }

    &:active {
      @apply bg-brand-500 transition-colors;
    }
  }

  &__post-options-icon {
    @apply text-sm font-normal text-base-50 place-self-center text-center
    transition-colors;
  }
}
