.post-card-list {
  &__container {
    @apply grid gap-4;
    grid-template-columns: repeat(1, 1fr);

    @screen sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @screen lg {
      grid-template-columns: repeat(3, 1fr);
    }

    @screen 2xl {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__post-card-with-options {
    @apply relative;
  }

  &__post-card-options {
    @apply absolute top-1 left-1;
  }

  &__post-card-options-icon {
    @apply h-6 w-6 rounded-full p-1 backdrop-filter
      backdrop-blur-lg bg-base-400 bg-opacity-50 z-50;

    &:hover {
      @apply bg-brand-400;
    }
  }
}