.home {
  &__container {
    @apply container flex flex-col gap-y-4 px-5 mx-auto
    pb-10 mt-5;
  }

  &__entry-container {
    @apply flex flex-col gap-y-2;
  }

  &__entry-header {
    @apply flex flex-row gap-x-4 items-center justify-between
    py-1 px-4 bg-surface rounded-md border border-border;
  }

  &__entry-title {
    @apply text-xl;
  }

  &__entry-link {
    @apply px-4 py-2 rounded-md bg-brand-primary-light
    transition-colors font-normal -mr-2;

    &:hover {
      @apply bg-brand-primary-bg transition-colors
      text-text;
    }
  }

  &__tags-gallery-container {
    @apply grid gap-4;
    grid-template-columns: repeat(2, 1fr);

    @screen md {
      grid-template-columns: repeat(4, 1fr);
    }

    @screen lg {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
