.post-child-comment-card {
  &__container {
    @apply grid gap-2 items-start border-opacity-50 cursor-default;
    grid-template-areas:
      "user-logo  user-name-date  options"
      "user-logo  comment         options";
    grid-auto-columns: auto 1fr;
  }

  &__user-logo {
    @apply h-6 w-6 rounded-full object-cover;
    grid-area: user-logo;
  }

  &__user-avatar {
    @apply h-6 w-6 self-start text-sm font-bold;
    grid-area: user-logo;
  }

  &__child-comment-user-logo {
    @apply h-6 w-6 self-start rounded-full;
    grid-area: user-logo;
  }

  &__user-name-date {
    @apply flex flex-wrap gap-x-1 justify-start items-center;
    grid-area: user-name-date;
  }

  &__user-name {
    @apply text-xs text-secondary-text font-semibold;
  }

  &__comment-date {
    @apply text-xs text-secondary-text leading-snug font-light;
  }

  &__separator-icon {
    @apply text-secondary-text;
  }

  &__comment {
    @apply text-sm font-light whitespace-pre-line break-words overflow-hidden;
    grid-area: comment;
  }

  &__child-comment {
    @apply grid gap-2 items-center;
    grid-template-areas:
      "user-logo  user-name-date"
      "user-logo  comment";
    grid-auto-rows: auto 1fr;
  }
}
