.video-sources-menu {
  &__container {
    @apply translate-x-full absolute w-full h-full bg-transparent
    transition-colors duration-1000 z-video-player-options;

    &__open {
      @apply flex flex-col gap-y-3 items-center justify-center bg-black
      bg-opacity-90 transition-colors py-2 px-5 translate-x-0;

      @screen md {
        @apply gap-y-6 py-5;
      }

      @screen lg {
        @apply gap-y-9;
      }
    }

    @screen md {
      @apply py-10;
    }
  }

  &__options-list {
    @apply grid gap-4 overflow-y-scroll scrollbar-hide;
    grid-template-columns: repeat(2, 1fr);

    @screen md {
      grid-template-columns: repeat(3, 1fr);
    }

    @screen lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__option-item {
    @apply hidden font-semibold;
    text-shadow: 0 0 4px #000000;

    &__open {
      @apply flex flex-col w-full gap-y-1 py-3 px-4 mx-auto
      mr-0 ml-0 items-center justify-center transition-colors
      rounded-lg;
    }

    &:hover {
      @apply cursor-pointer bg-surface transition-colors;
    }

    &__selected {
      @apply bg-brand-primary-bg transition-colors;

      &:hover {
        @apply bg-brand-primary-bg cursor-default;
      }
    }
  }

  &__option-logo {
    @apply h-4 w-auto min-w-12;

    @screen md {
      @apply h-6 min-w-20;
    }
  }

  &__option-icon {
    @apply h-6 w-auto;
  }
}
