.post-card {
  $parentBlock: &;

  &__container {
    @apply overflow-hidden;
  }

  &__video-container {
    @apply relative z-post-card-video;
  }

  &__video-link {
    @apply z-card-link;
  }

  &__media {
    @apply aspect-video h-full w-full object-cover rounded-lg;
  }

  &__video-data-container {
    @apply grid py-2;
    grid-template-areas:
      "producer-logo post-data";

    grid-template-columns: auto 1fr;
  }

  &__producer-logo {
    @apply rounded-full w-8 h-8 object-cover mr-2;
    grid-area: producer-logo;

    @screen md {
      @apply w-9 h-9;
    }
  }

  &__producer-avatar-container {
    @apply flex items-center justify-center h-8 w-8 rounded-full mr-2 overflow-hidden;
    grid-area: producer-logo;

    @screen md {
      @apply w-9 h-9;
    }
  }

  &__post-data {
    @apply flex flex-col line-clamp-2 text-sm;
    grid-area: post-data;
  }

  &__video-title-link {
    @apply line-clamp-2 text-sm;
  }

  &__extra-data {
    @apply flex items-center font-normal text-gray-400 text-xs gap-x-0.5
      line-clamp-none truncate;
  }

  &__producer-name {
    @apply text-xs overflow-x-scroll scrollbar-hide;
  }

  &__video-time {
    @apply z-post-card-video absolute top-1 right-1 text-sm font-normal
      text-base-400 py-0.5 px-1 rounded-lg bg-body cursor-default;
  }

  &__video-container:hover {
    #{$parentBlock}__video-time {
      @apply opacity-0 transition-all duration-500;

      &:hover, &:focus {
        @apply opacity-100;
      }
    }
  }
}