.post-card {
  $parentBlock: &;

  &__container {
    @apply relative cursor-default;
  }

  &__video-container {
    @apply aspect-w-16 aspect-h-9 rounded-lg
      overflow-hidden z-post-card-video;

    &__external {
      @apply ring-2 ring-brand-400;
    }

    &:hover {
      #{$parentBlock}__video-time, #{$parentBlock}__external-icon {
        @apply opacity-0 transition-all
          duration-500;

        &:hover, &:focus {
          @apply opacity-100;
        }
      }
    }
  }

  &__video-link {
    @apply z-card-link;
  }

  &__media {
    @apply h-full w-full object-cover object-center;
  }

  &__video-data-container {
    @apply grid py-2;
    grid-template-areas:
      "producer-logo post-data";

    grid-template-columns: auto 1fr;
  }

  &__producer-actor-logo {
    @apply rounded-full h-full w-full object-cover object-center transition-transform;

    &:hover {
      @apply scale-110 transition-transform;
    }
  }

  &__producer-actor-avatar-link {
    @apply flex items-center mr-2 h-8 w-8;
    grid-area: producer-logo;

    &__disabled {
      @apply pointer-events-none;
    }

    @screen md {
      @apply h-7 w-7;
    }

    @screen lg {
      @apply h-9 w-9;
    }
  }

  &__producer-actor-avatar-container {
    @apply h-full w-full text-base font-semibold transition-transform;

    &:hover {
      @apply scale-110 transition-transform text-base-50;
    }
  }

  &__post-data {
    @apply flex flex-col line-clamp-2 text-sm;
    grid-area: post-data;
  }

  &__video-title-link {
    @apply line-clamp-2 text-sm;
  }

  &__extra-data {
    @apply flex items-center font-normal text-gray-400 text-xs gap-x-0.5
      line-clamp-none truncate;
  }

  &__producer-name {
    @apply text-xs overflow-x-scroll scrollbar-hide;

    &__disabled {
      @apply pointer-events-none;
    }
  }

  &__video-time {
    @apply absolute top-1 right-1 text-sm font-normal
      text-base-400 py-0.5 px-1 rounded-lg bg-body
      z-post-card-video-time cursor-default;
  }

  &__external-icon {
    @apply absolute top-8 right-1 text-xl font-normal
    text-base-100 py-0.5 px-1 rounded-lg bg-brand-400
    z-post-card-video-time cursor-default transition-colors;

    &:hover {
      @apply text-brand-200 bg-brand-900 transition-colors;
    }
  }
}