.app-menu {
  &__layer {
    @apply sticky top-0 z-40 border-b border-base-700 border-opacity-30
      transition duration-500 backdrop-filter backdrop-blur-2xl bg-opacity-90 bg-body;

    &:hover {
      @apply border-opacity-100 transition duration-500;
    }
  }

  &__container {
    @apply container flex justify-between items-center mx-auto px-5 py-0.5 z-50;
  }

  &__logo-image {
    @apply h-10 w-10;

    &:hover {
      @apply grayscale;
    }
  }

  &__right-container {
    @apply flex flex-row gap-x-4 items-center;
  }

  &__menu-button {
    @apply p-3 rounded-full;

    &:hover {
      @apply bg-base-800;
    }

    &:active {
      @apply bg-base-700 text-brand-500;
    }
  }

  &__search-button {
    @apply p-3 rounded-full;

    &:hover {
      @apply bg-base-800 text-base-500;
    }

    &:active {
      @apply bg-base-700 text-brand-500;
    }
  }

  &__menu-icon {
    @apply h-6 w-6;
  }

  &__search-input {
    @apply w-0 -m-2 transition-all duration-300 text-base-100 bg-body
      caret-base-100 italic border-base-700;

    &__open {
      @apply px-2 h-8 rounded-md border w-40;

      @screen md {
        @apply w-64;
      }
    }
  }

  &__user-avatar-button {
    @apply h-9 w-9 rounded-full overflow-hidden transition-transform;

  }

  &__user-avatar-image {
    @apply h-full w-full object-cover;

    &:hover, &:focus {
      @apply scale-125 transition-transform;
    }
  }
}