.app-menu {
  &__layer {
    @apply fixed top-0 z-app-menu transition duration-500 w-full
    backdrop-filter backdrop-blur-lg bg-opacity-60 bg-surface;
  }

  &__container {
    @apply flex justify-between items-center mx-auto px-5
    py-0.5 z-50 overflow-hidden gap-x-4;

    @screen md {
      @apply gap-x-10 justify-between;
    }

    @screen lg {
      @apply border-b border-border;
    }
  }

  &__logo-image {
    @apply object-contain max-h-8 w-auto h-full transition-all;

    @screen md {
      @apply w-32 transition-all;
    }

    &:hover {
      @apply invert transition-all;
    }
  }

  &__left-container {
    @apply flex flex-row items-center gap-x-1 -ml-2;

    @screen md {
      @apply gap-x-2;
    }
  }

  &__right-container {
    @apply flex flex-row gap-x-0 items-center;

    @screen tb {
      @apply gap-x-2;
    }
  }

  &__mobile-search-button {
    @apply block;

    @screen md {
      @apply hidden;
    }
  }

  &__search-container {
    @apply hidden absolute top-12 w-full left-0 p-1.5;

    &__open {
      @apply block;
    }

    @screen md {
      @apply block static max-w-sm p-0;
    }

    @screen lg {
      @apply max-w-lg;
    }
  }

  &__loading-menu-icon {
    @apply h-6 w-6 animate-spin;
  }

  &__user-avatar-button {
    @apply h-12 w-12 p-2 transition-transform;

    &:hover, &:focus {
      @apply scale-110 transition-transform;
    }

    @screen md {
      @apply p-1.5;
    }

    @screen lg {
      @apply p-1;
    }
  }

  &__user-avatar-image {
    @apply w-full h-full object-cover self-center rounded-full;
  }

  &__user-avatar {
    @apply h-full w-full text-lg font-semibold;
  }

  &__util-links-container {
    @apply flex flex-nowrap m-auto gap-x-1 px-5 scrollbar-hide
    sticky top-14 z-app-menu overflow-x-scroll;

    @screen lg {
      @apply hidden;
    }

    @screen md {
      @apply justify-center;
    }
  }

  &__language-button {
    @apply flex flex-row gap-x-1 h-2.5 uppercase
    rounded-sm self-start mt-3 items-center;

    @screen md {
      @apply h-4 transition-none;
    }

    &:hover {
      @apply animate-pulse;
    }
  }

  &__language-image {
    @apply h-full w-auto rounded-sm border border-border;
  }
}
