.mobile-menu {
  $parentBlock: &;
  
  &__backdrop {
    @apply fixed inset-0 hidden z-mobile-menu;

    &-enter {
      @apply block;
    }

    &-enter-active {
      @apply block bg-base-900 bg-opacity-50 transition-colors;
    }

    &-enter-done {
      @apply block bg-base-900 bg-opacity-50;
    }

    &-exit {
      @apply block bg-base-900 bg-opacity-50;
    }

    &-exit-active {
      @apply block bg-transparent transition-colors;
    }

    &-exit-done {
      @apply hidden;
    }
  }

  &__slide-out {
    @apply grid z-mobile-menu fixed bottom-0 leading-none translate-y-full
      w-screen text-base-400 bg-base-800 rounded-t-xl overflow-hidden
      border-base-700 overflow-y-scroll scrollbar-hide;
    grid-template-areas:
      "menu"
      "footer"
      "copyright";
    grid-auto-rows: 1fr auto auto;

    @screen md {
      @apply top-0 left-0 -translate-x-full translate-y-0 w-auto
        rounded-none border-r border-base-700 backdrop-blur-2xl
        bg-opacity-80;
      grid-template-areas:
        "logo"
        "menu"
        "footer"
        "copyright";
      grid-auto-rows: auto 1fr auto auto;
      height: auto;
    }

    &-enter-active {
      @apply translate-y-0 transition-transform;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-enter-done {
      @apply translate-y-0;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-exit {
      @apply translate-y-0;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-exit-active {
      @apply translate-y-full transition-transform;

      @screen md {
        @apply translate-y-0 -translate-x-full transition-transform;
      }
    }
  }

  &__logo-container {
    @apply px-8 py-1.5 hidden;
    grid-area: logo;

    @screen md {
      @apply block;
    }
  }

  &__logo {
    @apply h-10 w-auto;
  }

  &__menu-container {
    grid-area: menu;
  }


  &__footer-container {
    @apply relative flex flex-row overflow-x-scroll gap-x-2 items-center justify-between
      px-8 py-3 scrollbar-hide;
    grid-area: footer;

    @screen md {
      @apply flex-wrap overflow-x-hidden justify-center border-t border-base-700;
    }
  }

  &__footer-item {
    @apply text-base-500 uppercase text-sm;
  }

  &__copyright-container {
    @apply border-base-700 border-t text-base-500 font-light text-xs
      px-8 py-4 cursor-default;

    @screen md {
      @apply border-none rounded-md text-base-300 font-normal text-sm
      px-4 py-2 m-2 bg-base-900 whitespace-pre-line;
    }
    grid-area: copyright;
  }

}
