.mobile-menu {
  $parentBlock: &;
  
  &__backdrop {
    @apply fixed inset-0 hidden z-50;

    &-enter {
      @apply block;
    }

    &-enter-active {
      @apply block bg-base-900 bg-opacity-50 transition-colors;
    }

    &-enter-done {
      @apply block bg-base-900 bg-opacity-50;
    }

    &-exit {
      @apply block bg-base-900 bg-opacity-50;
    }

    &-exit-active {
      @apply block bg-transparent transition-colors;
    }

    &-exit-done {
      @apply hidden;
    }
  }

  &__slide-out {
    @apply grid z-50 fixed bottom-0 leading-none bg-body translate-y-full
      w-screen text-base-400 bg-base-800 rounded-t-xl overflow-hidden border-base-700;
    grid-template-areas:
      "menu"
      "footer"
      "copyright";
    grid-auto-rows: 1fr auto auto;
    height: auto;

    @screen md {
      @apply top-0 left-0 -translate-x-full translate-y-0 rounded-none border-r;
      grid-template-areas:
        "logo"
        "menu"
        "footer"
        "copyright";
      grid-auto-rows: auto 1fr auto auto;
      height: auto;
      width: 33%
    }

    &-enter-active {
      @apply translate-y-0 transition-transform;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-enter-done {
      @apply translate-y-0;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-exit {
      @apply translate-y-0;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-exit-active {
      @apply translate-y-full transition-transform;

      @screen md {
        @apply translate-y-0 -translate-x-full transition-transform;
      }
    }
  }

  &__logo-container {
    @apply border-b border-gray-600 border-opacity-30 px-8 py-1.5 hidden;
    grid-area: logo;

    @screen md {
      @apply block;
    }
  }

  &__logo {
    @apply h-10 w-10;
  }

  &__menu-container {
    grid-area: menu;
  }

  &__menu-item {
    &:hover, &:focus {
      @apply bg-base-900 transition-colors duration-500 text-base-100
        cursor-pointer;
    }

    &-active {
      @apply bg-base-700 text-base-100;
    }
  }

  &__menu-item-content {
    @apply flex flex-row py-3.5 gap-x-6 items-center mx-6 border-b border-base-700
      border-opacity-10;
  }

  &__menu-icon {
    @apply text-lg;
  }

  &__footer-container {
    @apply relative flex flex-row overflow-x-scroll gap-x-2 items-center justify-between
      px-8 py-3 scrollbar-hide;
    grid-area: footer;

    @screen md {
      @apply flex-wrap overflow-x-hidden justify-center border-t border-base-700;
    }
  }

  &__footer-item {
    @apply text-base-500 uppercase text-sm;
  }

  &__copyright-container {
    @apply border-base-700 border-t text-base-700 font-light text-sm
      px-8 py-4;
    grid-area: copyright;
  }

  &__menu-item:hover, &__menu-item:focus {
    #{$parentBlock}__menu-icon {
      @apply scale-110 transition-transform duration-200;
    }
  }
}
