.mobile-menu {
  &__backdrop {
    @apply fixed inset-0 hidden z-mobile-menu;

    &-enter {
      @apply block;
    }

    &-enter-active {
      @apply block bg-body backdrop-blur-sm bg-opacity-50 transition-colors;
    }

    &-enter-done {
      @apply block bg-body backdrop-blur-sm bg-opacity-50;
    }

    &-exit {
      @apply block bg-body bg-opacity-50 backdrop-blur-sm;
    }

    &-exit-active {
      @apply block bg-transparent backdrop-blur-none transition-colors;
    }

    &-exit-done {
      @apply hidden;
    }

    @screen lg {
      @apply hidden;
    }
  }

  &__slide-out {
    @apply grid z-mobile-menu fixed bottom-0 leading-none translate-y-full
    w-screen text-secondary-text bg-modal rounded-t-xl overflow-hidden pt-2
    border border-border overflow-y-scroll scrollbar-hide pb-5;
    grid-template-areas:
      "menu"
      "footer"
      "copyright";
    grid-auto-rows: 1fr auto auto;

    @screen md {
      @apply top-0 left-0 -translate-x-full translate-y-0 w-auto pb-0 pt-0
      rounded-none border-r border-border bg-body;
      grid-template-areas:
        "logo"
        "menu"
        "footer"
        "copyright";
      grid-auto-rows: auto 1fr auto auto;
      height: auto;
    }

    &-enter-active {
      @apply translate-y-0 transition-transform;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-enter-done {
      @apply translate-y-0;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-exit {
      @apply translate-y-0;

      @screen md {
        @apply translate-x-0;
      }
    }

    &-exit-active {
      @apply translate-y-full transition-transform;

      @screen md {
        @apply translate-y-0 -translate-x-full transition-transform;
      }
    }
  }

  &__logo-container {
    @apply px-14 py-2 hidden;
    grid-area: logo;

    @screen md {
      @apply block;
    }
  }

  &__logo {
      @apply object-contain max-h-8 w-auto h-full transition-all;

    @screen md {
      @apply w-32 transition-all;
    }

    &:hover {
      @apply invert transition-all;
    }
  }

  &__menu-container {
    grid-area: menu;
  }

  &__icon-option {
    @apply p-1 w-full h-full object-center object-contain;

    @screen md {
      @apply p-2;
    }

    @screen lg {
      @apply p-3;
    }
  }
}
