.footer {
  &__layout {
    @apply p-0 pt-0.5 bg-gradient-to-r border-none
      from-body via-brand-600 to-body container;
  }

  &__container {
    @apply grid place-items-start px-5 pt-10 pb-8
      justify-between bg-base-900;

    grid-template-areas:
      "social-networks    social-networks   app-logo"
      "social-networks    social-networks   languages"
      "copyright          copyright         copyright";
    grid-auto-columns: auto auto;
    grid-column-gap: 10px;

    @screen lg {
      @apply bg-base-950 bg-gradient-to-r
        from-body via-base-950 to-body;
    }
  }

  &__logo-image-link {
    grid-area: app-logo;
  }

  &__logo-image {
    @apply object-contain w-24 h-auto transition-all;

    @screen md {
      @apply w-32 transition-all;
    }

    @screen lg {
      @apply w-40 transition-all;
    }

    &:hover {
      @apply invert transition-all;
    }
  }

  &__copyright {
    @apply flex flex-row font-thin items-center gap-x-1
      text-xs mt-4 text-base-500 ;
    grid-area: copyright;

    @screen md {
      @apply text-base font-light;
    }
  }

  &__copyright-brand-name {
    @apply text-xs font-black uppercase text-base-50;

    @screen md {
      @apply text-base;
    }
  }

  &__social-networks {
    @apply flex flex-row flex-wrap gap-x-4 gap-y-2 text-base-400
      text-xl uppercase items-center justify-center mt-1;
    grid-area: social-networks;

    @screen md {
      @apply text-2xl;
    }

  }

  &__languages {
    @apply flex flex-wrap gap-x-3 gap-y-1.5 mt-2 ml-1
      items-center justify-center;
    grid-area: languages;
  }

  &__language-item {
    @apply text-base-400 font-normal uppercase text-xs;

    &__active {
      @apply text-base-100 font-black;
    }

    @screen md {
      @apply text-sm;
    }
  }
}