.video-page {
  $parentBlock: &;

  &__container {
    @apply flex flex-col gap-y-4 container px-5 mx-auto transition pt-10;
  }

  &__video-container {
    @apply flex flex-row gap-x-4;
  }

  &__right-container {
    @apply flex flex-col gap-y-4 overflow-x-scroll whitespace-nowrap scrollbar-hide;
    grid-area: right-container;
  }

  &__video-data {
    @apply grid gap-y-1;
    grid-template-areas:
      "video-title    video-title"
      "video-info     video-info"
      "video-options  video-options"
      "actor-tags-cat actor-tags-cat"
      "description    description";
    grid-area: video-data;
  }

  &__video-title {
    @apply font-black text-sm;

    @screen md {
      @apply text-base;
    }

    @screen lg {
      @apply text-xl;
    }
    grid-area: video-title;
  }

  &__video-info {
    @apply flex flex-row gap-x-4;
    grid-area: video-info;
  }

  &__video-info-item {
    @apply flex flex-row items-center font-light text-base-400 gap-x-1 text-xs;

    @screen md {
      @apply text-sm;
    }

    @screen lg {
      @apply text-base;
    }

    grid-area: video-info;
  }

  &__video-options {
    @apply flex flex-row place-self-end gap-x-1;
    grid-area: video-options;
  }

  &__video-option-icon {
    @apply relative h-8 w-8 rounded-full bg-base-900 p-2 cursor-pointer;

    @screen md {
      @apply  h-10 w-10 p-3;
    }

    &_user-reacted {
      @apply bg-red transition-colors;
    }
  }

  &__video-actor-tags-cat {
    @apply flex flex-col gap-y-6 relative max-h-24 p-4
      overflow-hidden bg-base-900 rounded-lg;
    grid-area: actor-tags-cat;

    @screen md {
      @apply text-sm;
    }

    @screen lg {
      @apply text-base;
    }

    &__open {
      @apply max-h-full pb-9 transition-all duration-500;
    }
  }

  &__video-actor-tags-cat-show-more {
    @apply flex justify-center absolute bottom-0 left-0 right-0 ml-auto pb-2
      mr-auto bg-gradient-to-b from-transparent to-base-900;

    @screen md {
      @apply text-sm;
    }

    @screen lg {
      @apply text-base;
    }
  }

  &__video-actor-tags-show-more-button {
    @apply font-black transition text-xs;

    &:hover {
      @apply text-base-500 transition duration-500 animate-pulse;
    }

    @screen md {
      @apply text-sm;
    }

    @screen lg {
      @apply text-base;
    }
  }

  &__data-item {
    @apply flex flex-col gap-y-2 font-light text-sm;
  }

  &__producer-item {
    @apply flex items-center;
  }

  &__producer-logo {
    @apply rounded-full w-10 h-10 object-cover mr-4;
  }

  &__producer-name {
    @apply flex flex-row flex-grow justify-between items-center font-normal text-xs;

    @screen md {
      @apply text-sm;
    }

    @screen lg {
      @apply text-base;
    }
  }

  &__actor-logo {
    @apply rounded-full w-6 h-6 object-cover mr-4;
  }

  &__actors-item {
    @apply flex items-center;
  }

  &__actor-name {
    @apply flex flex-row flex-grow justify-between items-center font-normal text-xs;

    @screen md {
      @apply text-sm;
    }

    @screen lg {
      @apply text-base;
    }
  }

  &__profile {
    @apply flex gap-x-2 items-center text-xs font-light text-blue;

    @screen md {
      @apply text-sm;
    }

    @screen lg {
      @apply text-base;
    }
  }

  &__video-description {
    @apply relative p-4 rounded-lg bg-base-800 max-h-0 overflow-hidden
      text-xs;
    grid-area: description;

    @screen md {
      @apply text-sm;
    }

    @screen lg {
      @apply text-base;
    }

    &__open {
      @apply max-h-full pb-9 transition-all duration-200;
    }
  }

  &__video-description-title {
    @apply uppercase font-bold mb-2;
  }

  &__video-description-show-more {
    @apply flex justify-center absolute bottom-0 pt-2 pb-2 left-0
      right-0 ml-auto mr-auto bg-base-800 bg-opacity-95;
  }

  &__video-description-show-more-button {
    @apply font-black transition;

    &:hover {
      @apply text-base-500 transition duration-500 animate-pulse;
    }
  }

  &__video-option-icon:hover, &__video-option-icon:focus {
    @apply bg-base-800 transition-all;
    #{$parentBlock}__heart-icon {
      @apply text-red scale-125 transition-all;
    }

    #{$parentBlock}__comment-icon {
      @apply text-blue scale-125 transition-all;
    }

    #{$parentBlock}__share-icon {
      @apply text-green scale-125 transition-all;
    }

    #{$parentBlock}__save-icon {
      @apply text-yellow scale-125 transition-all;
    }

    #{$parentBlock}__download-icon {
      @apply text-green scale-125 transition-all;
    }

    #{$parentBlock}__report-icon {
      @apply scale-125 transition-all;
    }
  }

  &__video-option-icon:active {
    @apply bg-base-900;
  }

  &__related-videos-title {
    @apply uppercase text-base font-black;

    @screen md {
      @apply text-xl;
    }
  }
}