.modal {
  &__container {
    @apply flex-col flex-grow rounded-lg hidden
    translate-y-full transition-all m-5 overflow-hidden
    bg-modal;
    max-height: calc(100vh - 150px);

    @screen tb {
        @apply flex-grow-0 opacity-0 scale-50 translate-y-0;
    }

    @screen md {
      max-height: calc(100vh - 40px);
    }

    &-enter {
      @apply flex translate-y-full;

      @screen tb {
        @apply translate-y-0;
      }
    }

    &-enter-active {
      @apply flex translate-y-0 transition-all duration-200;

      @screen tb {
        @apply flex opacity-100 scale-100 transition-all duration-300;
      }
    }

    &-enter-done {
      @apply flex translate-y-0;

      @screen tb {
        @apply flex opacity-100 scale-100 transition-all;
      }
    }

    &-exit {
      @apply flex opacity-100 translate-y-0;

      @screen tb {
        @apply flex opacity-100 scale-100;
      }
    }

    &-exit-active {
      @apply flex translate-y-full transition-all duration-300;

      @screen tb {
        @apply flex opacity-0 translate-y-0 scale-0 transition-all
        duration-300;
      }
    }

    &-exit-done {
      @apply hidden;

      @screen tb {
        @apply hidden;
      }
    }
  }

  &__close-modal-button {
    @apply absolute top-1 right-1 hidden transition-colors
    text-secondary-text;

    @screen md {
      @apply block text-2xl text-secondary-text;
    }

    &:hover, :focus {
      @apply cursor-pointer text-secondary-text/50;
    }
  }

  &__modal-backdrop {
    @apply hidden items-end justify-center fixed inset-0
    bg-transparent z-modal-backdrop;

    &-enter {
      @apply flex;
    }

    &-enter-active {
      @apply flex bg-body/40 backdrop-blur-sm transition-colors;
    }

    &-enter-done {
      @apply flex bg-body/40 backdrop-blur-sm;
    }

    &-exit {
      @apply flex bg-body/40;
    }

    &-exit-active {
      @apply flex bg-transparent transition-colors;
    }

    &-exit-done {
      @apply hidden;
    }

    @screen tb {
      @apply items-center;

      &-enter {
        @apply flex;
      }

      &-enter-active {
        @apply flex bg-body/50 transition-colors;
      }

      &-enter-done {
        @apply flex bg-body/50;
      }

      &-exit {
        @apply flex bg-body/50;
      }

      &-exit-active {
        @apply flex bg-transparent transition-colors;
      }

      &-exit-done {
        @apply hidden;
      }
    }
  }
}
