.toast {
  &__container {
    @apply grid px-5 bg-toast-bg rounded-lg py-2.5 gap-x-4
    items-center cursor-default shadow-lg shadow-body
    leading-snug text-text max-w-md w-fit mx-auto ;
    grid-template-areas: "icon  content   close-button";
    grid-auto-columns: auto auto 1fr;

    &_error {
      @apply bg-toast-error-bg;
    }

    @screen md {
      @apply max-w-md;
    }
  }

  &__icon {
    @apply text-xl items-center justify-center;
    grid-area: icon;

    &_succes {
      @apply text-text stroke-white bg-toast-icon rounded-full stroke-[0.5];
    }

    &_error {
      @apply stroke-text stroke-[0.5] bg-toast-error-icon rounded-full;
    }
  }

  &__content {
    grid-area: content;
  }

  &__closeButton {
    @apply -mt-1 -mr-3 self-start p-2 rounded-full
    bg-white/10 transition-colors text-text;
    grid-area: close-button;

    &:hover {
      @apply bg-body/40 text-white transition-colors;
    }
  }

  &__closeIcon {
    @apply stroke-1;
  }
}
