.post-card-producer-actor {
  &__producer-title {
    @apply flex flex-row items-end gap-x-1.5 text-xs my-0.5
    font-normal mx-auto ml-0 text-base-400
    transition-colors;

    &__disabled {
      @apply pointer-events-none;
    }
  }

  &__producer-icon {
    @apply text-lg text-sky-500 transition-colors;
  }

  &__producer-iconAd {
    @apply text-lg text-red transition-colors;
  }
}
