.menu-options {
  &__menu-container {
    @apply flex flex-col gap-y-1;
  }

  &__menu-item-content {
    @apply grid gap-x-0 justify-between items-center
    mx-2 transition-colors;
    grid-template-areas: "content   infoButton";
    grid-auto-columns: 1fr auto;
  }

  &__itemContent {
    @apply flex flex-row flex-shrink gap-x-6 items-center
    h-full py-2 px-4 rounded-lg text-base-400 cursor-pointer;
    grid-area: content;

    &:hover {
      @apply bg-base-900 transition-colors text-white;
    }

    &_active {
      @apply text-white bg-brand-primary-light font-bold
      transition-colors cursor-default;

      &:hover {
        @apply bg-brand-primary-light text-white;
      }
    }
  }

  &__menuInfoButton {
    @apply pr-1 text-base-400 ml-1;
    grid-area: infoButton;
  }

  &__menu-icon-wraper {
    @apply w-8 max-h-8 min-h-8 h-full overflow-hidden;

    @screen md {
      @apply min-h-10 max-h-10 w-10;
    }

    @screen lg {
      @apply min-h-12 max-h-12 w-12;
    }
  }
}
