.actor-card {
  &__container {
    @apply flex flex-col shadow-base-950 shadow-lg rounded-md
    overflow-hidden;
  }

  &__image-wrapper {
    @apply aspect-h-1 aspect-w-1 overflow-hidden;
  }

  &__actor-image {
    @apply h-full w-full object-cover transition-transform;

    &:hover, &:focus {
      @apply scale-110 transition-transform;
    }
  }

  &__actor-avatar {
    @apply h-full w-full text-6xl font-normal text-base-300
      transition-transform;

    &:hover, &:focus {
      @apply scale-110 transition-transform;
    }
  }

  &__data-container {
    @apply flex flex-col flex-grow justify-between
    p-2 cursor-default;
  }

  &__actor-name {
    @apply text-sm font-semibold line-clamp-2 text-ellipsis
      break-words;

    @screen md {
      @apply text-base font-bold;
    }
  }

  &__count-section {
    @apply flex flex-row items-start gap-x-1 text-xs justify-between
    font-normal text-brand-primary-light;

    @screen md {
      @apply text-sm;
    }
  }

  &__views-title {
    @apply text-base-400;
  }
}
