.video-post-type {
  &__videoWithAds {
    @apply grid gap-y-1 items-center;
    grid-template-areas:
      "advertising"
      "video";

    @screen md {
      grid-template-areas:
      "video"
      "advertising";
    }
  }

  &__video-container {
    @apply -mx-5 aspect-h-10 aspect-w-16
    bg-body overflow-hidden;
    grid-area: video;

    @screen tb {
      @apply mx-0 aspect-h-9 aspect-w-16 rounded-lg;
    }
  }

  &__advertising {
    @apply overflow-hidden;
    grid-area: advertising;
  }

  &__post-title {
    @apply font-bold text-sm;

    @screen tb {
      @apply text-lg;
    }

    @screen md {
      @apply text-xl;
    }
  }

  &__no-sources-state {
    @apply flex flex-col items-center justify-center
    w-full h-full whitespace-pre-line gap-y-4  px-5 py-10
    text-xs rounded-lg
    bg-black text-white;

    @screen md {
      @apply text-base;
    }

    @screen lg {
      @apply text-lg;
    }
  }

  &__no-sources-state-icon {
    @apply flex-shrink-0 h-10 w-10 text-brand-primary-bg;

    @screen tb {
      @apply h-14 w-14;
    }

    @screen md {
      @apply h-20 w-20;
    }

    @screen lg {
      @apply h-24 w-24;
    }
  }
}
