.app-footer {
  &__layout {
    @apply container p-0 pt-0.5 bg-gradient-to-r border-none
    from-body via-brand-secondary-light to-body;
  }

  &__container {
    @apply grid place-items-start items-center px-5 pt-10 pb-8
    justify-between bg-surface;

    grid-template-areas:
      "social-networks    social-networks   app-logo"
      "contact            contact           languages"
      "copyright          copyright         languages";
    grid-auto-columns: auto auto;
    grid-column-gap: 10px;

    @screen lg {
      @apply bg-body;
    }
  }

  &__logo-image-link {
    @apply flex w-full justify-center items-center;
    grid-area: app-logo;
  }

  &__logo-image {
    @apply object-contain w-24 h-auto transition-all;

    @screen tb {
      @apply w-32 transition-all;
    }

    @screen md {
      @apply w-36 transition-all;
    }

    @screen lg {
      @apply w-40 transition-all;
    }

    &:hover {
      @apply invert transition-all;
    }
  }

  &__copyright {
    @apply flex flex-row flex-wrap font-thin items-center
    gap-x-1 text-xs mt-4 text-secondary-text;
    grid-area: copyright;

    @screen md {
      @apply text-base font-light;
    }
  }

  &__copyright-brand-name {
    @apply text-xs font-black uppercase text-text;

    @screen md {
      @apply text-base;
    }
  }

  &__social-networks {
    @apply flex flex-row flex-wrap gap-x-2 gap-y-2
    text-base uppercase items-center justify-center mt-1;
    grid-area: social-networks;

    @screen md {
      @apply text-xl;
    }

    @screen lg {
      @apply text-2xl;
    }
  }

  &__social-network {
    @apply relative p-1.5 rounded-full bg-brand-primary-bg transition-colors;

    &:hover {
      @apply bg-brand-secondary-dark transition-colors;
    }
  }

  &__languages {
    @apply flex w-full flex-wrap gap-x-3 gap-y-1 mt-2
      items-center justify-center self-start;
    grid-area: languages;
  }

  &__language-item {
    @apply text-secondary-text font-normal uppercase text-xs;

    &__active {
      @apply text-text font-black pointer-events-none;
    }

    @screen md {
      @apply text-sm;
    }
  }

  &__contact-link {
    @apply grid items-start justify-start text-xs font-bold
    mt-4;
    grid-area: contact;

    @screen md {
      @apply text-sm;
    }
  }
}
