.post-options {
  &__container {
    @apply flex flex-nowrap gap-x-2 overflow-x-scroll scrollbar-hide
      -mx-5 pl-5;
  }

  &__option-item {
    @apply flex flex-row flex-shrink-0 items-center gap-x-2
    rounded-full bg-base-800 py-2 cursor-pointer text-xs px-3
    transition-colors text-base-300;

    @screen md {
      @apply text-base;
    }

    &:hover, &:focus {
      @apply text-brand-primary-bg transition-colors;
    }

    &:disabled {
      @apply bg-base-900 text-base-600 transition-colors cursor-default;
    }

    &_active {
      @apply text-brand-primary-bg bg-base-900 transition-colors;
    }
  }

  &__like-dislike-section {
    @apply flex flex-row flex-shrink-0 items-center gap-x-2 cursor-default
    rounded-full bg-base-800 py-2 px-3 transition-colors;

    &_disabled {
      @apply bg-base-900 transition-colors;
    }
  }

  &__like-dislike-separator {
    @apply text-xl text-base-400;
  }

  &__loading-icon {
    @apply animate-spin;
  }

  &__option-item-icon {
    @apply text-sm;

    @screen tb {
      @apply text-base;
    }
  }

  &__optionItemQuantity {
    @apply ml-0.5 text-brand-primary-bg font-bold;
  }
}
